// Admin Styles
// glm - Gutenberg Leafletjs Map

@import '../common.scss';

// Notice
.glm-notice {
	margin: 0 0 10px !important;
}

// Icon Upload
button.is-button.glm-upload-button {
	height: auto;
	margin-bottom: 30px;
	min-height: 30px;
	padding: 4px 12px;
}

// Address
p.glm-address {
	.editor-block-list__block & {
		color: $black;
		font-size: 0.7rem;
	}
}

// Controls
.leaflet-control-zoom {
	.glm-hide-controls & {
		display: none;
	}
}
