// Admin Styles
// glm - Gutenberg Leafletjs Map

@import '../common.scss';

// Notice
.glm-notice {
	margin: 0 0 10px !important;
}

// Icon Upload
button.is-button.glm-upload-button {
	height: auto;
	margin-bottom: 30px;
	min-height: 30px;
	padding: 4px 12px;
}

// Controls
.leaflet-control-zoom {
	.glm-hide-controls & {
		display: none;
	}
}

// Utilities
.glm-flex {
	display: flex;
}

.glm-align-center {
	align-items: center;
}

.glm-gray {
	color: $gray;
}
