// Admin Styles
// glm - Gutenberg Leafletjs Map

@import '../common.scss';

// Notice
.glm-notice {
	margin: 0 0 10px !important;
}

// Icon Upload
button.is-button.glm-upload-button {
	height: auto;
	min-height: 30px;
	padding: 4px 12px;
}
